<p>Falta terminar!</p>
<div class="modal fade" id="Skill-Save" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="exampleModalLabel">Agregar nueva Habilidad</h1>
                
            </div>
        </div>
    </div>
</div>

<!--<div class="btn-group" role="group" aria-label="Basic outlined example">
    <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal" onclick="cambiarParrafo()"><i class="bi bi-pencil-fill"></i>Left</button>
    <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal"><i class="bi bi-eraser-fill"></i>Middle</button>
</div>
-->