
<div class="modal fade" id="Skill-Save" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="exampleModalLabel">Agregar nueva Habilidad</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="clean()"></button>
            </div>

            <form [formGroup]="form" (ngSubmit)="form.valid && onSave($event)" name="skillForm">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="skillName" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="skillName"
                            placeholder="Ingrese nombre" formControlName="name_skill" [(ngModel)] ="name_skill" 
                            [ngClass]="{'is-invalid': Name_Skill?.errors && Name_Skill?.touched,'is-valid': !Name_Skill?.errors && Name_Skill?.touched}">
                            
                            <div *ngIf="Name_Skill?.errors && Name_Skill?.touched">
                                <p *ngIf="Name_Skill?.hasError('required')" class="text-danger">
                                    El nombre de la habilidad es requerido.
                                </p>
                            </div>
                    </div>

                    <div class="mb-3">
                        <label for="skillLevel" class="form-label">Nivel</label>
                        <input type="number" min="0" max="100" id="skillLevel"
                            class="form-control" formControlName="level" [(ngModel)]="level"
                            placeholder="Ingrese un número entre 0 y 100"
                            [ngClass]="{'is-invalid': Level?.errors && Level?.touched,'is-valid': !Level?.errors && Level?.touched}">

                            <p *ngIf="Level?.hasError('required')" class="text-danger">
                                El nivel de la habilidad es requerido.
                            </p>
                            <p *ngIf="Level?.hasError('min')" class="text-danger">
                                El nivel minimo es 0.
                            </p>
                            <p *ngIf="Level?.hasError('max')" class="text-danger">
                                El nivel maximo es 100.
                            </p>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-ligth">Limpiar</button>    
                        <button type="submit" class="btn btn-primary">Agregar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!--<div class="btn-group" role="group" aria-label="Basic outlined example">
    <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal" onclick="cambiarParrafo()"><i class="bi bi-pencil-fill"></i>Left</button>
    <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal"><i class="bi bi-eraser-fill"></i>Middle</button>
</div>
-->