
<img src="https://fi.unju.edu.ar/images/LOGOS-FI-UNJU/logo-fi-unju-gran-formato-horizontal-3000x683.png" alt="Logo FI UNJU" width="200" height="46">
<img src="https://desa.argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1660276176/APLogo-20-20.png" alt="argpdesa" width="125" height="70">

<nav class="navbar navbar-expand-sm navbar-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand me-auto"><i class="bi bi-lightning-charge-fill"></i>Bienvenido</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="https://github.com/MintBlue06" alt="Logo GitHub"><i class="bi bi-github"></i>GitHub</a>
        </li>
        <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="mailto:p1210mizu@gmail.com" alt="Logo Correo Electronico"><i  class="bi bi-envelope-fill"></i>Correo Electronico</a>
        </li>
        <li class="nav-item">
        <a class="btn btn-outline-light" routerLink="login"><i class="bi bi-door-open-fill"></i>Iniciar Sesion</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="card">
  <div class="card-body">
    <h1 class="card-title">Argentina Programa #YoProgramo</h1>
  </div>
  <img src="https://cdn.pixabay.com/photo/2018/03/29/19/34/northern-lights-3273425_1280.jpg" class="card-img-top" alt="" width="1920" height="250">
</div>
